.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.loaded .modal__menu__overlay {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%, 0%);
    max-width: 100%;
    width: 100%;
    overflow: scroll;
    z-index: 10;
    visibility: hidden;
    background: #2D3E56;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
  }

  .modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}


.modal__menu__inner {
    padding: 30px 20px;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.modal__menu__top__logo {
    font-size: 0;
    filter: brightness(0) invert(1);
}

.modal__menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.modal__menu__btn_close__block {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: 0.25s;
    cursor: pointer;
}

.modal__menu__btn_close {
    width: 13px;
    height: 13px;
    position: relative;
    background: transparent;
    border: none;
}

.modal__menu__btn_close:before,
.modal__menu__btn_close:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.modal__menu__btn_close:after {
    transform: rotate(-45deg);
}

.modal__menu__btn_close__text {
    line-height: 1;
    margin-top: -2px;
}

.modal__menu__btn_close__block:hover {
    opacity: 0.5;
}

.modal__menu__list {
    list-style: none;
}

.modal__menu__list a {
    font-weight: 500;
    font-size: 32px;

    /* or 64px */
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    line-height: 1;
}

.modal__menu__list li {
    margin-bottom: 44px;
}

.modal__menu__list a:hover {
    color: #f08f7e;
}

.modal__menu__list li:last-child {
    margin-bottom: 0;
}

.modal__menu__bottom {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
}

.modal__menu__contact {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.modal__menu__contact__link {
    color: inherit;
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: 500;
}

.modal__menu__contact__link--email {
    margin-bottom: 15px;
}

.modal__menu__contact__link:hover {
    color: #f08f7e;
}

.modal__menu__social__title {
    margin-bottom: 8px;
}

.modal__menu__social__list {
    display: flex;
    align-items: center;
    font-size: 0;
    gap: 10px;
}

.modal__menu__subscribe__title {
    font-size: 14px;
    margin-bottom: 10px;
}

.modal__menu__subscribe__form form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.modal__menu__subscribe__form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 10px 10px;
    padding-right: 40px;
    width: 400px;
    color: #fff;
    font-weight: 300;
    border-radius:0;
}

.modal__menu__subscribe__btn {
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    width: 40px;
}

.modal__menu__subscribe__btn path {
    transition: 0.25s;
}

.modal__menu__subscribe__btn:hover path {
    stroke: #f08f7e;
}

@media screen and (max-width: 750px) {
    .modal__menu__bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .modal__menu__subscribe__form input {
        width: 100%;
    }

    .modal__menu__subscribe {
        width: 100%;
    }

    .modal__menu__subscribe__form form {
        max-width: 500px;
    }

    .modal__menu__subscribe__title {
        margin-bottom: 12px;
    }

    .modal__menu__social__list a {
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .modal__menu__list a {
        font-size: 18px;
    }

    .modal__menu__list li {
        margin-bottom: 22px;
    }

    .modal__menu__top__logo {
        width: 110px;
    }

    .modal__menu__top {
        margin-bottom: 44px;
    }

    .modal__menu__btn_close__block {
        margin-top: 10px;
        font-size: 14px;
    }

    .modal__menu__inner {
        padding: 20px;
    }

    .modal__menu__bottom {
        margin-top: 75px;
    }

    .modal__menu__contact__link {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .modal__menu__contact__link--email {
        margin-bottom: 15px;
    }

    .modal__menu__subscribe__form input {
        font-size: 16px;
    }
}