.main_footer {
    position: relative;
}

.main_footer {
    background: #2D3E56;
    padding: 48px 0 33px;
    color: #fff;
}

.main_footer_menu ul {
    text-align: center;
}

.main_footer_menu a {
    color: inherit;
    text-decoration: none;
}

.main_footer_menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.main_footer_menu {
    margin-bottom: 37px;
}

.main_footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main_footer_logo {
    filter: brightness(0) invert(1);
    font-size: 0;
}

.main_footer_social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main_footer_social a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_footer_social a img {
    width: 100%;
    height: 100%;
}

.main_footer_social a:hover path {
    stroke: #f08f7e;
}

.main_footer_menu a:hover {
    color: #f08f7e;
}