html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: $font;
    line-height: 1.4;
    color: $textColor;
}


.loaded a {
    transition: 0.25s
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1320px;
}


.title_x {
    font-weight: bold;
    font-size: 40px;
    text-align: center;

    &--left {
        text-align: left;
    }
}


.page__wrap {
    overflow: hidden;
}

.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}


.loaded__info__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.loaded_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    text-align: center;
}
.loaded_modal.hidex{opacity: 0;z-index: -100;pointer-events: none;visibility: hidden;}

.loaded__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    position: relative;
    color: #fff;
    padding: 20px;
}

.loaded__inner__layout {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loaded__inner__layout--1 {
    position: fixed;
    top: 0;
    background-color: #2D3E56;
    transform: skewX(-45deg);
    z-index: 1;
    height: 100vh;
    width: 150%;
    right: calc(50% + 0px);
}

.loaded__info {
    position: relative;
    z-index: 3;
    margin-bottom: 78px;
}

.loaded__info__logo {
    filter: brightness(0) invert(1);
    font-size: 0;
    margin-bottom: 12px;
    display: inline-block;
    width: 200px;
}

.loaded__info__logo img {
    width: 100%;
}

.loaded__inner__layout--2 {
    position: fixed;
    top: 0;
    background-color: #2D3E56;
    transform: skewX(-45deg);
    z-index: 1;
    height: 100vh;
    width: 150%;
    left: auto;
    left: calc(50% - 2px);
}


.loaded__info__line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    transform: scaleX(0);
    transition: 0.75s linear;
}

.loaded__info__line.scaleX {
    transform: scaleX(1);
}

.loaded__info__line.scaleX.rotate {
    transition: 0.5s linear;
    transform: scaleX(1) rotate(-45deg)
}

.loaded__info__line.scaleX.rotate.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.loaded__info.hideLoadedInfo {
    opacity: 0;
    transition: 0.25s linear;
}


.loaded__inner__layout--1.move {
    transform: skewX(-45deg) translate(-100%, 0px);
    transition: 0.75s linear;
}

.loaded__inner__layout--2.move {
    transform: skewX(-45deg) translate(100%, 0px);
    transition: 0.75s linear;
}


@media screen and (max-width: 750px) {
    .loaded__info__title {
        font-size: 32px;
    }

    .loaded__info__logo {
        width: 155px;
        margin-bottom: 5px;
    }

    .loaded__info {
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 500px) {
    .loaded__info__title {
        font-size: 24px;
    }

    .loaded__info__logo {
        width: 125px;
        margin-bottom: 10px;
    }

    .loaded__info {
        margin-bottom: 50px;
    }

    .loaded__inner__layout--1.move {
        transform: skewX(-45deg) translate(-150%, 0px);
        transition: 0.5s linear;
    }

    .loaded__inner__layout--2.move {
        transform: skewX(-45deg) translate(150%, 0px);
        transition: 0.5s linear;
    }


}