.header_main .container {
    display: flex;
    justify-content: space-between;
}

.header_main {
    padding: 20px 0 18px;
    border-bottom: 1px solid rgba(142, 162, 154, 0.5);
}

.header__info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
}

.header__logo {
    font-size: 0;
}

.home_promo__title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 118px;
    line-height: 1;
    letter-spacing: 0.08em;
    color: #333333;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}

.home_promo {
    padding: 78px 0 0;
    border-bottom: 1px solid #F08F7E;
    overflow: hidden;
}

.home_promo__info {
    max-width: 632px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 81px;
}

.home_promo__title--2 {
    color: #F08F7E;
    font-size: 66px;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 0.9;
}

.home_promo__text {
    max-width: 310px;
    line-height: 1.425;
    margin-bottom: 16px;
}

.home_promo__image {
    position: absolute;
    bottom: 0;
    font-size: 0;
    pointer-events: none;
}

.home_promo__image--1 {
    left: -404px;
    width: 296px;
}

.home_promo__image--2 {
    width: 426px;
    right: -324px;
}

.btn_ghost {
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 11.5px 24px;
    line-height: 1.45;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    background: transparent;
    ;
}

.btn_ghost:hover {
    color: #fff;
    background: #f08f7e;
    border-color: #f08f7e;
}

.btn_home_promo {
    margin-bottom: 16px;
}

.home_promo__menu a {
    font-weight: 600;
    font-size: 18.5px;
    line-height: 1.1;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    padding: 27px 0 32px;
}

.home_promo__menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 160px;
}

.home_promo__menu li {
    flex: 1;
}

.home_promo__menu a:before {
    width: 8px;
    height: 8px;
    background: #F08F7E;
    content: '';
    position: absolute;
    left: -17px;
    top: 22px;
}

.header__login {
    color: inherit;
    text-decoration: none;
}

.header__info__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__info__menu__title {
    margin-right: 16px;
}

.header__info__menu:before {
    content: '';
    position: static;
    height: 23px;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    background: #2d3e55;
    margin: 0 23px;
}

.btn_home_promo__add_link:hover path {
    stroke: #f08f7e;
}

.btn_home_promo__add_link path {
    transition: 0.25s;
}

.home_promo__menu a:hover {
    color: #f08f7e;
}

.home_promo__menu a:hover:before {
    opacity: 0;
    transform: scale(1.5) translate(0, -20px);
    pointer-events: none;
}

.home_promo__menu a:before {
    transition: 0.25s ease-in-out;
}


.how_we__home {
    background: #E7F3FF;
    padding: 105px 0 120px;
}

.how_we_home__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: #333333;
    margin-bottom: 25px;
}

.how_we_home__item__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    /* identical to box height */
    text-transform: uppercase;
    margin-bottom: 17px;
}

.how_we_home__list {
    display: flex;
    flex-wrap: wrap;
    gap: 31px 16.5px;
}

.how_we_home__item {
    width: calc(100% / 4 - 12.5px);
    border-right: 1px solid #ccc;
    padding: 33px 0px;
}

.how_we_home__item__icon {
    font-size: 0;
    margin-bottom: 9px;
}

.how_we_home__item__text {
    max-width: 220px;
}

.home_our_us {
    padding: 120px 0 120px;
}

.home_our_us__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.home_our_us__text {
    max-width: 509px;
    line-height: 1.445;
}

.home_our_us .container {
    position: relative;
}

.home_our_us__image {
    position: absolute;
    left: 668px;
    top: 0;
    width: calc(((100vw - 1320px) / 2) + 100% - 668px);
    font-size: 0;
}

.home_our_us__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.home_our_us__image__inner {
   height: 670px;
    position: relative;
}

.invest_home {
    background: #E6F3FF;
    padding: 120px 0;
}

.invest_home__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 116%;
    letter-spacing: 0.05em;
    color: #333333;
    max-width: 500px;
    margin-bottom: 40px;
}


.invest_home__item__value {
    font-weight: 700;
    font-size: 64px;
    line-height: 92px;
    color: #F08F7E;
}

.invest_home__item__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: #2D3E56;
    margin-bottom: 3px;
    max-width: 200px;
}

.invest_home__item {
    border-right: 1px solid #F08F7E;
    padding: 0 16px;
    width: calc(100% / 4 - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.invest_home__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    max-width: 1160px;
}

.invest_home__item:last-child {
    border-right: 0;
}

.how_we_home__item:nth-child(4n) {
    border: none;
}


.btn_y {
    background: #F08F7E;
    border-radius: 4px;
    display: inline-flex;
    padding: 16px 39px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.home_our_us__text {
    margin-bottom: 31px;
}

.btn_y:hover {
    background: #000;
    color: #fff;
}

.invest_home_form__x__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.45;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.invest_home_form .container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.invest_home_form {
    padding: 120px 0 86.5px;
}

.invest_home_form__info {
    flex: 1;
    padding-top: 114px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    text-transform: capitalize;
}

.invest_home_form__x {
    width: 645px;
    padding-right: 50px;
}

.contact__item_x {
    margin-bottom: 21px;
    flex-direction: column;
    display: flex;
}

.contact__item_x__value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__item_x__value a {
    color: inherit;
    text-decoration: none;
}

.field_x input,
.field_x textarea {
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 18px;
    border-radius: 0;
    padding: 15px 14px;
    border-bottom: 1px solid;
}

.invest_home_form__x form {
    max-width: 415px;
}

.field_x__row {
    margin-bottom: 28px;
}



.field_x textarea {
    resize: vertical;
    height: 100px;
}

.field_x--message textarea {
    height: 55px;
}

.btn_send_invest {
    margin: 0 auto;
    display: block;
}

.contact__item_x__value a:hover {
    color: #f08f7e;
}


@media screen and (max-width: 1320px) {
    .home_our_us__image {
        width: auto;
        right: 0px;
    }

    .home_our_us__image__inner {
        padding: 0;
        height: 620px;
    }
}

@media screen and (max-width: 1100px) {

    .home_our_us__image__inner {
        height: 550px;
    }

    .home_our_us__image {
        left: 580px;
    }

    .home_our_us__text {
        max-width: 480px;
    }

    .how_we_home__item {
        width: calc(100% / 3 - 12.5px);
        padding-right: 20px;
    }

    .how_we_home__list {
        gap: 25px 18.5px;
    }

    .how_we__home {
        padding: 70px 0;
    }

    .how_we_home__title {
        font-size: 46px;
        margin-bottom: 35px;
    }

    .home_our_us__title {
        font-size: 46px;
        margin-bottom: 25px;
    }

    .invest_home__title {
        font-size: 46px;
        margin-bottom: 45px;
    }

    .invest_home_form__x__title {
        font-size: 46px;
    }

    .invest_home_form__x {
        width: 500px;
    }

    .invest_home_form {
        padding: 65px 0 45px;
    }

    .invest_home__item__value {
        font-size: 48px;
    }

    .invest_home__item__title {
        font-size: 14px;
        line-height: 1.4;
    }

    .invest_home {
        padding: 70px 0;
    }

    .home_our_us {
        padding: 75px 0;
    }

    .home_promo__title {
        font-size: 80px;
    }

    .home_promo__title--2 {
        font-size: 50px;
        line-height: 0.95;
    }

    .home_promo__info {
        max-width: 400px;
    }

    .btn_home_promo__add_link svg {
        width: 65px;
        height: auto;
    }

    .home_promo__image--1 {
        left: -345px;
    }

    .home_promo__image--2 {
        width: 410px;
        right: -395px;
    }
}

@media screen and (max-width: 1000px) {
    .home_promo__menu ul {
        padding-left: 25px;
        max-width: 750px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 900px) {
    .invest_home__item {
        width: calc(100% / 2 - 10px);
        border: none;
        padding-bottom: 17px;
    }

    .invest_home__item:nth-child(n+3) {
        border: none;
    }

    .invest_home__item__title {
        font-size: 18px;
    }

    .invest_home__list {
        gap: 30px 20px;
    }

    .invest_home {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .how_we_home__item {
        padding: 12px 0;
        width: calc(100% / 2 - 12.5px);
        border: none;
        padding-right: 0;
    }

    .how_we_home__item__text {
        max-width: 85%;
    }
}

@media screen and (max-width: 750px) {

    .home_promo__menu {
        display: none;
    }

    .home_promo__info {
        max-width: 250px;
        margin: 0;
        padding: 40px 0;
    }

    .home_promo {
        padding: 0;
    }

    .home_promo__image--1 {
        display: none;
    }

    .home_promo__image--2 {
        left: 300px;
        right: auto;
        top: 0;
        bottom: 0;
        min-width: 300px;
        width: calc(100vw - 300px);
    }

    .home_promo__title {
        font-size: 50px;
        margin-bottom: 22px;
    }

    .home_promo__title--2 {
        font-size: 34px;
        line-height: 1.2;
    }

    .home_promo__text {
        font-size: 15px;
        max-width: 280px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .btn_home_promo__add_link svg {
        width: 55px;
    }

    .home_promo__image--2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .home_our_us__image {
        position: static;
        margin-top: 50px;
        width: auto;
        margin: 45px -21px 0;
    }

    .home_our_us__image__inner {
        height: auto;
        padding-top: 82%;
    }

    .home_our_us {
        padding-bottom: 0;
    }

    .invest_home_form__info {
        padding: 0;
        width: 100%;
    }

    .invest_home_form .container {
        flex-direction: column;
        align-items: flex-start;
        max-width: 450px;
    }

    .invest_home_form__x {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }

    .contact__item_x {
        align-items: center;
    }

    .invest_home_form__x__title {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .main_footer_menu ul {
        justify-content: center;
        flex-wrap: wrap;
        max-width: 220px;
        gap: 16px 20px;
        margin: 0 auto;
    }

    .main_footer_bottom {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .main_footer_logo {
        display: none;
    }

    .main_footer_social {
        margin-bottom: 15px;
    }

    .main_footer_copyright {
        order: 2;
    }
}

@media screen and (max-width: 550px) {

    .how_we_home__item {
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding: 0 0 25px;
    }

    .how_we_home__list {
        gap: 20px 0;
    }

    .how_we_home__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .how_we_home__item__title {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .how_we_home__item__text {
        max-width: 240px;
        font-weight: 400;
        font-size: 15px;
    }

    .how_we_home__item:nth-child(4n) {
        border-bottom: 1px solid #aaa;
    }

    .how_we_home__item:last-child {
        border: none;
    }

    .how_we__home {
        padding: 40px 0 25px;
    }

    .home_our_us__title {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .invest_home__title {
        font-size: 26px;
        max-width: 300px;
        margin-bottom: 50px;
    }

    .invest_home_form__x__title {
        font-size: 30px;
        margin-bottom: 24px;
        text-align: left;
    }

    .field_x input,
    .field_x textarea {
        padding: 15px 0;
        font-size: 16px;
    }

    .invest_home_form__info {
        font-size: 18px;
    }

    .invest_home_form__x {
        margin-bottom: 30px;
    }

    .field_x__row {
        margin-bottom: 22.5px;
    }

    .home_our_us {
        padding: 40px 0 0;
    }

    .home_our_us__text {
        font-size: 15px;
        line-height: 1.6;
    }

    .invest_home {
        padding: 40px 0 25px;
    }

    .invest_home_form {
        padding: 40px 0 30px;
    }

    .btn_home_our_us {
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .invest_home__item {
        padding: 0;
        width: calc(100% / 2);
        padding-right: 20px;
        padding-bottom: 15px;
    }

    .invest_home__list {
        gap: 25px 0;
    }

    .invest_home__item__title {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .invest_home__item__value {
        font-size: 40px;
        line-height: 1.45;
    }

    .how_we_home__item__icon {
        width: 32px;
        height: 32px;
        margin-bottom: 15px;
    }

    .how_we_home__item__icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .header__logo {
        width: 120px;
    }

    .header_main {
        padding: 15px 0 18px;
    }

    .header__info__menu:before {
        margin: 0 17.5px;
    }

    .header__info {
        margin-top: 6px;
        margin-right: -5px;
    }
}

@media screen and (max-width: 400px) {
    .home_promo__info {
        max-width: 100%;
        padding-bottom: 210px;
    }

    .home_promo__image.home_promo__image--2 {
        position: absolute;
        width: calc(50vw - 25px);
        margin-left: -20px;
        height: 140px;
        bottom: 0;
        top: auto;
        right: 0px;
        min-width: auto;
        left: auto;
        height: 260px;
    }

    .home_promo__image.home_promo__image--1 {
        display: block;
        position: absolute;
        left: 0;
        width: calc(50vw - 25px);
        height: 200px;
    }
}